{% extends 'base.html' %}

{% block body %}
    <h1 class="text-center mt-5"> Escolha dentre as opções </h1>
    <div class="card card-body mx-auto w-50">
        <a href="{% url 'core:create_certificate' %}" class="btn btn-success m-3"><h2>Criar um certificado</h2></a>
        <a href="{% url 'core:cert_revocation_list' %}" class="btn btn-success m-3"><h2>Verificar cetificados revogados</h2></a>
        <a href="{% url 'core:add_cert_revocation' %}" class="btn btn-success m-3"><h2>Invalidar certificado</h2></a>
    </div>
{% endblock %}